<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<ion-title>REALIZAR ENTRADA</ion-title>
		<ion-span>Descrição</ion-span>
		<ion-input></ion-input>
		<ion-span>Valor</ion-span>
		<ion-input></ion-input>
		<ion-button><ion-icon name="save-outline"></ion-icon>LANÇAR</ion-button>
	</div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="trending-up-outline" routerLink="/input"></ion-icon>
      <ion-label>Entrada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Fechar Mês</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Ano</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="trending-down-outline"></ion-icon>
      <ion-label>Saída</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
